/* reset rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* /reset rules */

/* general rules */

.not-done{
    color: red;
    text-decoration: line-through;
}
.done{
    color: green;
    text-decoration: line-through; 
}
/* /general rules */
