<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- link to fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- /link to fontawesome -->

        <!-- link to font style -->
        
        <!-- /link to font style -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
        <!-- link to the css sheet -->
        <link rel="stylesheet" href="./css/style.css">
        <!-- /link to the css sheet -->


        <title>To do</title>
    </head>
    <body>
        <div class="page-container" id="root">
            <header>
                <img id="header-img" src="./img/logo (1).png" alt="">
                <div class="container-input">
                    <input v-model="newTodo.nome" type="text">
                    <button @click="todoAdd">Aggiungi</button>
                </div>
            </header>
            <main>
                <section class="container-todo">
                    <ul v-if="this.todos.length>0">
                        <li class="li-formatting" v-for="(todo,index) in todos" :key="index" >
                            <span :class="todo.stato==false ? 'not-done':'done'">{{todo.nome}} </span> 
                            <button class="btn-completition" v-if="todo.stato==false" @click="taskCompleter(index)">Completa?</button>
                            <button class="btn-completition" v-else @click="taskCompleter(index)">Non completa?</button>
                            <i @click="removeTodo(index)" class="fas fa-times icon-format"></i>
                        </li>
                    </ul>
                    <h2 v-else>Inserisci cose da fare</h2>
                </section>
            </main>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./js/script.js"></script>
    </body>
</html>